.footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.footer p {
  margin: 0;
}
